.banner {
    width: 960px;
    height: 275px;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    font-family: Verdana;
    color: #333;
}
